/* Essentials */
nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}

#logo {
    color:#e5e9f0;
}

body {
    background-color: #20232b;
}
main .form-control
{
    /* Center form controls */
    display: inline-block;

    /* Override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* Disable padding */

    /* Scroll horizontally as needed */
    overflow-x: auto;

    /* Center contents */
    text-align: center;
    
    /* Colors */
    background-color:#2e3440;
    color: rgba(236, 239, 244, 0.75);
}

main img
{
    /* Constrain images on small screens */
    max-width: 100%;
}

.container {
    padding: 0;
}

main div {
    padding: 1em;
}

.navbar-dark, footer {
    background-color:#242933;
}

.div-alt {
    background-color:#3f4755;
}

input {
    background-color: #4b5463;
    color: #eceff4;
    border:none;
    padding:0.5em;
    border-radius: 0.5em;
}

input[type=search] {
    width:80%;
}


/* Index.html */
.splitbox {
    background-color: #373f4d;
    border-radius: 10px;
}

/* Meme_templates.html */
.grid-container {
    display: grid;
    grid-template-rows:repeat(9,100%); ;
    grid-template-columns: auto auto auto ;
}

.grid-item {
    border: 1px #eceff4 solid;
}
/* Media queries */
/* Index.html */
@media screen and (min-width: 768px) {
    .splitbox {
        display:flex;
        align-items: center;
    }
    .splitbox-item {
        flex:1;
    }
}