{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
    <h1>About this project</h1>
    <br>
    <p>My name is Swan Tayza Aung and I created this website as part of
    my final project for CS50x, a Computer Science course by Harvard that
    gives an introduction to the various programming concepts. I developed
    this site using the Flask web framework, which uses Python for the server
    side with HTML, CSS and Javascript for the client side.</p>
    <p>As a huge follower of meme culture, I decided to apply my
    newfound knowledge in web programming to create a website where my fellow
    meme enjoyers can search for templates and create their own memes based
    on them. Having manually edited many memes manually on Paint, I
    found hunting and pecking for the perfect template, and then pasting it
    over, quite frustrating. So I've implemented a template search engine,
    along with an integrated editor to make it much simpler to create a
    meme.</p>
    <p>As of now, there won't be a login system, since this site is for
    searching and editing memes only. However, once a post system has been
    implemented, I'll make sure to add login features as well.</p>
    <hr>
    <img src="/static/party_doge.png">
{% endblock %}
