{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <div>
        <h1>Welcome to Danksite!</h1>
        <p>Danksite is a free, open source web application written in Flask that lets you search for meme 
            templates and edit your own memes based on those.
        </p>
        <h1>Choose a starting point</h1>
        <div>
            <div class="splitbox">
                <div class="splitbox-item">
                    <h2>Search for a meme template</h2>
                    <br>
                    <input type="text" placeholder="Search..." autocomplete="off">
                </div>
                <div class="splitbox-item">
                    <div class="caption-img">
                        <img src="https://live.staticflickr.com/2583/3709203268_1f8afc8392_b.jpg" alt="A man holding up a magnifying glass in front of him">
                        Credit: CC Search (search.creativecommons.org)
                    </div>
                </div>
            </div>
            <br>
            <div class="splitbox">
                <div class="splitbox-item">
                    <h2>Or upload your own</h2>
                    <br>
                    <input type="submit" value="Upload File">
                </div>
                <div class="splitbox-item">
                    <div class="caption-img">
                        <img src="/static/upload.png" alt="An upload screen from the game Among Us">
                        Credit: Among Us Fandom Wiki (among-us.fandom.com)
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
