{% extends "layout.html" %}

{% block title %}
    Meme Templates
{% endblock %}

{% block main %}
    <div>
        <form action="/meme_templates">
            <input name="q" type="search" placeholder="Search meme templates..." autofocus autocomplete="off">
        </form>
    </div>
    <div class="grid-container">
        <div class="grid-item">
            <img src="/static/a.png">
        </div>
        <div class="grid-item">
            <img src="/static/a.png">
        </div>
        <div class="grid-item">
            <img src="/static/a.png">
        </div>
        <div class="grid-item">
            <img src="/static/a.png">
        </div>
        <div class="grid-item">
            <img src="/static/a.png">
        </div>
        
    </div>
{% endblock %}
